.enfoco{
	background: yellow none repeat scroll 0% 0%;
}
#anadir-lista{
	margin-top:5%;
	color:#6DA2CA;

}
.titulo{
	color:#6DA2CA;
	background-color:#065197;
	width: 100%;
	height: 60%;
}
.fa-trello{
	font-size: 18px;
	margin-right: 0.5%;
	color: #6DA2CA;
}
.sec-lista{
	background-color: #0862B8;
	width: 100%;
	height: 1000px;
}
.anadir-lista-borrar{
	display:none;
}


.caja-blanca{
	margin-top: 5%;
	width: 100%;
	height: 90px;
	background-color: #DBDDE0;
	padding:2%;
	border-radius: 10px;
}
.caja-blanca-tarea{
	margin-top: 5%;
	width: 20%;
	height: 90px;
	background-color: #DBDDE0;
	padding:1%;
	border-radius: 10px;
	color:black;
	display: inline-block;
	margin:1%;
}
.caja-contiene-tarea{
	height: 230px;
}
.guardar{
	margin-top: 3%;
}
.ingresar{
	margin-bottom: 2%;
	border-radius: 5px;
}
.mover{
	display: block;
 	position: absolute;
  	left: 105%;
  	top: 8px;
  	width: 100%;
}
.displayB{
	display:block;
}
.borrar{
	display: none;

}
.lista{
	margin-top: 2%;
	position: absolute;
	right: 75%;
	

}